/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* /reset */
/* pagina */
.container {
  background-color: red;
  margin: auto;
  width: 60%;
  height: 600px;
}
/* /pagina */

/* header */
.intestazione {
  background-color: pink;
  height: 60px;
  width: 100%;
  border: 1px solid black;
  margin-bottom: 10px;
}
/* /header */
